@import "tailwindcss";

@theme {
  --color-surface-dim: #131313;
  --color-surface-bright: #3a3939;
  --color-secondary-fixed-dim: #fcb5ad;
  --color-inverse-surface: #e5e2e1;
  --color-primary-container: #392700;
  --color-tertiary: #d7c3b0;
  --color-inverse-primary: #775a19;
  --color-secondary: #fcb5ad;
  --color-on-tertiary-fixed: #241a0e;
  --color-primary: #e9c176;
  --color-surface-variant: #353534;
  --color-inverse-on-surface: #313030;
  --color-on-primary: #412d00;
  --color-surface-container: #201f1f;
  --color-secondary-fixed: #ffdad6;
  --color-on-secondary: #4f231f;
  --color-error-container: #93000a;
  --color-background: #131313;
  --color-on-error-container: #ffdad6;
  --color-surface: #131313;
  --color-on-tertiary: #3a2e21;
  --color-tertiary-container: #34281b;
  --color-surface-tint: #e9c176;
  --color-on-background: #e5e2e1;
  --color-on-tertiary-container: #a08e7d;
  --color-tertiary-fixed: #f4dfcb;
  --color-on-secondary-fixed: #350f0c;
  --color-on-surface-variant: #d5c2c0;
  --color-surface-container-low: #1c1b1b;
  --color-outline-variant: #514442;
  --color-surface-container-high: #2a2a2a;
  --color-surface-container-highest: #353534;
  --color-primary-fixed-dim: #e9c176;
  --color-error: #ffb4ab;
  --color-on-secondary-fixed-variant: #6a3933;
  --color-tertiary-fixed-dim: #d7c3b0;
  --color-primary-fixed: #ffdea5;
  --color-on-tertiary-fixed-variant: #524436;
  --color-surface-container-lowest: #0e0e0e;
  --color-on-primary-container: #af8c47;
  --color-on-surface: #e5e2e1;
  --color-on-error: #690005;
  --color-secondary-container: #6d3b36;
  --color-on-secondary-container: #eca79f;
  --color-on-primary-fixed-variant: #5d4201;
  --color-on-primary-fixed: #261900;
  --color-outline: #9e8d8b;

  --font-headline: "Newsreader", serif;
  --font-body: "Noto Serif", serif;
  --font-label: "Space Grotesk", sans-serif;
  
  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

::selection {
  background: var(--color-primary-container);
  color: var(--color-primary);
}
